@tailwind base;
@tailwind components;
@tailwind utilities;

.disable-text-selection {
  -moz-user-select: none; /* firefox */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE*/
  user-select: none; /* Standard syntax */
}

/****************************************** Header ************************************* */

.shop-header {
  @apply flex justify-between items-center border-2 p-3 rounded-md;
}

.search label,
.offscreen {
  @apply absolute left-[-9999px];
}

.search input {
  @apply hidden md:block outline outline-[0.125rem] outline-gray-400 focus:outline-blue-400 
  py-2 px-6 rounded-sm;
}

.select select {
  @apply hidden md:block border-2 border-gray-400 focus:border-blue-400 p-2 rounded-sm md:w-[200px];
}

.cart {
  @apply flex gap-2 items-center bg-blue-500 text-white px-4 py-2 rounded-md md:rounded-sm
   hover:bg-blue-600 transition-all;
}

.search-icon,
.menu-icon {
  @apply md:hidden border-2 bg-gray-100 border-gray-400 hover:border-blue-600 
  p-2 rounded-md hover:cursor-pointer text-blue-400 text-xl;
}

.setting {
  @apply border-2 bg-gray-100 border-gray-400 hover:border-blue-600 
  p-2 rounded-md hover:cursor-pointer text-blue-400 text-xl;
}

/***************************************** Main ************************************************************/

main {
  @apply flex flex-col flex-wrap md:flex-row mt-20 justify-between items-center md:items-start gap-4 gap-y-10;
}

main section {
  @apply max-w-sm flex flex-col gap-2  w-[280px] h-[400px] hover:shadow-2xl transition-all p-4;
}

main h1 {
  @apply font-bold text-lg;
}

main section:hover img {
  @apply -rotate-6 transition-all;
}

main img {
  @apply w-40 h-40;
}

.loading {
  @apply flex flex-col gap-4 md:flex-row;
}

.loading div {
  @apply w-[280px] h-[400px] bg-gray-300 rounded-md;
}

.choose-item {
  @apply border-2 rounded-md transition-all p-2 text-white bg-blue-500 hover:text-black hover:border-blue-500 hover:bg-white;
}

/****************************************** Toast **************************************************/

.toast {
  @apply md:hidden fixed inset-0 z-10 bg-[#0000009d] p-4;
}

.toast-search {
  @apply flex justify-between items-center;
}

.toast-search label,
.captcha {
  @apply absolute left-[-9999px];
}

.toast-search button {
  @apply text-white text-2xl hover:text-red-600 hover:bg-[#0000001e] rounded-full p-2 transition-colors;
}

.toast input {
  @apply py-2 px-10 w-[80%] outline outline-[0.125rem] outline-gray-400 focus:outline-blue-400 rounded-full;
}

.toast-menu {
  @apply flex justify-evenly;
}
.toast-menu div {
  @apply text-white flex flex-col items-center gap-5;
}

.toast-menu option {
  @apply hover:text-blue-400 hover:font-bold hover:cursor-pointer;
}

.toast-menu button {
  @apply absolute top-1 right-3 p-2 text-white text-3xl hover:text-red-600 
   hover:bg-[#0000001e] rounded-full transition-colors;
}

/***************************************** Auth **********************************************************/

.auth-header {
  @apply flex justify-between;
}
.auth-form,
.login-form {
  @apply flex flex-col max-w-[300px];
}

.auth-form label {
  @apply flex items-center gap-3;
}

.auth-form button,
.login-form button {
  @apply bg-blue-700 p-2 rounded-sm text-white font-bold mt-4;
}

.instructions {
  @apply relative border border-red-600 p-3 bg-red-100 mt-1 px-10;
}

.auth-form p svg {
  @apply absolute left-3 top-4 text-red-400;
}

.auth-form em {
  @apply pt-2 pb-4;
}

.auth-form input,
.login-form input {
  @apply p-1 outline outline-[0.12rem] outline-gray-400 focus:outline-blue-600 focus:outline-2 rounded-sm;
}

.ref a {
  @apply text-blue-600 hover:underline p-2;
}

.auth-link {
  @apply flex items-center hover:underline hover:cursor-pointer text-blue-600 gap-2;
}

.mobile-opt {
  @apply bg-white border border-gray-500 flex flex-col items-start p-4 gap-6 rounded-sm absolute top-[40px] w-[200px];
}

.hide {
  @apply hidden;
}

.valid {
  @apply text-[limegreen];
}

.invalid {
  @apply text-red-500;
}

.errMsg {
  @apply border border-red-600 p-3 bg-red-100 mt-1 px-10;
}

/*************************************************** sliders ************************************************/

.x {
  @apply text-2xl hover:text-red-600 hover:bg-[#0000001e] rounded-full p-2 transition-colors;
}

/* .setting-page {
  @apply 
} */

/*********************************************** configurations ******************************************** */

.configurations {
  @apply mt-20;
}

.configurations li {
  @apply border-b-2  p-3 text-lg hover:bg-gray-200 hover:text-blue-600 transition-colors;
}

.account {
  @apply flex flex-col items-center justify-center h-screen;
}

.account ul {
  @apply flex flex-col gap-y-2;
}

.account li {
  @apply flex p-4 border bg-gray-300 rounded-sm hover:scale-110 transition-all cursor-pointer;
}

/*************************************************** mail ****************************************************/

.mail input,
.mail textarea {
  @apply focus:outline-none;
}
